<ion-view view-title="About">
  <ion-content class = "page">
   <div class = "aboutPage">
    <div class = "card generalScheme card-view">
        <div class ="headerContent generalScheme">
            <img src="img/RelevateLogoXL.png">
        </div>
        <div class = "headerContent generalScheme" style = "text-align:center;padding:3%;">
            <h1>MyRelevate</h1>
            <h2>Elevate Your Relationship</h2>
            <h3> Your mobile hub for trustworthy & relevant relationship resources at your fingertips</h3>
        </div>
     </div>
    <div class = "card generalScheme card-view">
         <h4> <b>Relevate:</b> the voluntary act of raising your romantic endeavors or pre-existing relationship to a happier, healthier place through research-driven education and conscious decision-making
be intentional about the decisions you make, the relationships you form, and the effort you put those relationships in order to give yourself the best possible chance at having healthy, stable romantic relationships now and in the future.</h4>
    </div>
            <div class = "card generalScheme card-view">
     	      <div class = "who" style="color:black;">
     	          <h4>Who We Are</h4>
     	          <p>An inclusive research team of...</p>
     	          <ul>
     		         <li>Faculty & Graduate students in Marriage & Family Therapy</li>
     		         <li>Undergraduate Students in FSHS & PSYCHOLOGY</li>
     		         <li>MBA Students</li>
     	          </ul>
     	          <p>Starting Fall 2015...</p>
     	          <ul>
     		         <li>Computer Science Students</li>
     	          </ul>
            </div>
        </div>
     <div class = "card generalScheme card-view">
     <div class = "what" style="color:black;">
     	<h4>Our Mission</h4>
     	<p>To bring <b>research-informed, personalized</b> and <b>up-to-date</b>
     		information to <b>young adults</b> to help them <b>achieve</b> and <b>maintain</b>
     		healthy romantic relationships through <b>accessible</b> mobile technology.</p>
     	</div>
     </div>
        <div class = "card generalScheme card-view">
     	<div class ="why" style="color:black;">
     	<h4>Why?</h4>
     	<ul>
     		<li>Greater access to relationship education for all</li>
     		<li>
     			<ul>
     			    <li>Low cost</li>
     			    <li>Easily accessible(via computer or phone)</li>
     			    <li>Self-guided & adaptive</li>
     		    </ul>
     		</li>
     		<li>42% of young adults already use smart phones to access health or medical information (Fox & Duggan, 2012).</li>
     		<li>Premarital education associated with higher marital quality and lower odds of divorce (Stanley et al., 2006)</li>
     		<li>30 hrs. 15 min.: average amount of time per month adults over 18 are using mobile phone apps (Nielson, 2014)</li>
     		<li>80% of young adults today own a smart phone (Duggan & Brenner, 2013).</li>
     	</ul>
     </div>
 </div>
     <div class = "card generalScheme card-view">
     <div class ="contact" style="text-align:center; color:black; width:100%;">
        <p>For more information, contact Amber Vennum PhD at: Avennum@ksu.edu</p>
        <p>Or to find out more about the project and start Relevating today, visit us at our official social media sites:</p>
               <div class = "socialMedia">
                 <div class ="socialMediaButton">
                    <button class="button icon-left ion-social-facebook button-positive" ng-click="ToMedia(FacebookLink)">Facebook
                    </button>
                </div>
                <div class = "socialMediaButton">
                    <button class="button icon-left ion-social-twitter button-calm" ng-click="ToMedia(TwitterLink)">Twitter
                    </button>
                </div>
                <div class = "socialMediaButton">
                    <button class="button icon-left ion-social-youtube button-assertive" ng-click="ToMedia(YoutubeLink)">Youtube
                    </button>
                </div>
                <div class = "socialMediaButton">
                    <button class="button icon-left ion-social-pinterest button-assertive" ng-click ="ToMedia(PintrestLink)">Pinterest
                    </button>
                </div>
                </div>
        </ul>
      </div>
  </div>
</div>
  </ion-content>
</ion-view>
