<ion-view view-title="Sign-in / Log-in">
	<ion-content class="page">
	<div class="generalScheme">
		<div class="generalScheme loginContent" style="margin-left:auto;margin-right:auto;width:90%;">
			<img src = 'img/RelevateLogoXL.png'>
			<div class="generalScheme card-view">
        <h2 ng-if = 'errorMessage != null' style='color:red;'>{{errorMessage}}</h2>
        		<div class="item item-input myDataEntry card-view">
                 <label class="item item-input card-view" style="width:100%;">
            			<input type="email" name="email" ng-model="email" placeholder="Email">
           			 </label>
       				 </div>
       			 <div class="item item-input myDataEntry card-view">
                <label class="item item-input card-view"  style="width:100%;">
            			<input type="password" name="password" ng-model="password" placeholder="Password">
           			 </label>
        		</div>
        		 <div class = "submit">
        			<button class="button button-positive" ng-click="Login(email, password)" style="width:100%;">
  					Log In
					</button>
				</div>
				<div class = "externalSignIn generalScheme card-view">
        	<button class="button button-icon ion-social-googleplus" ng-click="" style="float:left;background-color:red;color:white;width:40%;"> Login
					</button>
					<button class="button button-icon ion-social-facebook" ng-click="" style="float:right;background-color:blue;color:white;width:40%;"> Login
					</button>
				</div>
        <div class ="register generalScheme">
          <button class="button button-positive" ng-click="ToRegister()" style="width:100%;">Register</button>
        </div>

		</div>
	</div>
</div>
	</ion-content>
</ion-view>