<ion-view view-title="{{contributor.name}}">
  <ion-content class="page">
    <div class="generalScheme">
    <h1>{{contributor.name}}: </h1>
    <h2>{{contributor.description}}</h2>
    <button class="button button-positive" ng-click="">
  Follow
     </button>
     </div>
   <div class="list card" ng-repeat="newsArticle in articles">
      <div class="item item-avatar">
        <img src="{{newsArticle.iconImage}}">
        <h2>{{newsArticle.title}}</h2>
        <p>{{newsArticle.date | date : 'dd-M-yy'}}</p>
      </div>

      <div class="item item-body" ng-click="goToArticle(newsArticle.id)">
        <img class="image" src="{{newsArticle.image}}">
        <p>
          {{newsArticle.descshort}}
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
       </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
         </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
  </ion-content>
</ion-view>