<ion-view view-title="MyJournal">
  <ion-content class = "page">
    <h1>MyJournal</h1>
    <label class="item item-input">
       <span class="input-label">Journal Entry</span>
       <textarea class="journal" name="Text1" cols="20" rows="25" ng-model = "newEntry"></textarea>
    </label>
    <div class="button-bar">
    <a class="button button-positive journal-button" ng-click="submitJournal(newEntry)">
     Submit
    </a>
    <a class="button button-positive journal-button">
     Clear
    </a>
  </div>
    <label class="item item-divider"></label>
    <div class="card" ng-repeat="entry in journals">
      <div class="item item-text-wrap">
        <h3>{{entry.date | date : 'dd-M-yy'}}</h3>
        <p>{{entry.text}}</p>
      </div>
</div>
  </ion-content>
</ion-view>