<ion-view view-title="My Data">
  <ion-content class="page">
    <div class="list">
    	<div class="item item-divider">
    		Current Status
    	</div>
    	<div class="item">
            <label class="item item-input item-select">
            	<div class="input-label">
            	</div>
            	<select>
            		<option>Single</option>
            		<option>Dating</option>
            		<option>Relationship</option>
            		<option>Married</option>
            	</select>
            </label>
    	</div>
    	<div class="item item-divider">
    	   Relationship Happiness Scale (1-10)
    	</div>
    	<div class="item">
    		<div class="item range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
         </div>
     </div>
       <div class="item item-divider">
            More content to come...
         </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Age</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">ZipCode</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Gender</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Sex</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Sexual Orientation</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Race/Ethnicity</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Employment</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Salary</span>
            <input type="number">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Family Size</span>
            <input type="number">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Education</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Relationship Duration</span>
            <input type="number">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Religion</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label"># of Relationship Recovoery (Got back together)</span>
            <input type="number">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">How influential is religion?(On a scale of 1-10)</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label"># of Positive Relationship</span>
            <input type="number">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Avg. Duration of Positive Relationships</span>
            <input type="number">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label"># of Relationships</span>
            <input type="number">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Addictions</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Acts of violence</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Infidelity</span>
            <input type="text">
        </div>
        <div class="item item-input">
            <label class="item item-input">
            <span class="input-label">Personal Values</span>
            <input type="text">
        </div>
</label>
    </div>
  </ion-content>
</ion-view>
