<ion-view view-title="My Data">
  <ion-content>
    <div class="list">
    	<div class="item item-divider">
    		Current Status
    	</div>
    	<div class="item">
            <label class="item item-input item-select">
            	<div class="input-label">
            	</div>
            	<select>
            		<option>Single</option>
            		<option>Dating</option>
            		<option>Relationship</option>
            		<option>Married</option>
            	</select>
            </label>
    	</div>
    	<div class="item item-divider">
    	   Relationship Happiness Scale (1-10)
    	</div>
    	<div class="item">
    		<div class="item range">
            <i class="icon ion-volume-low"></i>
            <input type="range" name="volume">
            <i class="icon ion-volume-high"></i>
         </div>
     </div>
       <div class="item item-divider">
            More content to come...
         </div>
    </div>
  </ion-content>
</ion-view>
