<ion-view view-title="{{newsArticle.title}}">
  <ion-content class="page">

    <div class="item item-divider">
        <h3>Tags</h3>
      </div>
      <div class="button-bar">
        <a ng-repeat="tag in tags" href="#" class="button button-calm">{{tag.name}}</a>
      </div>

    <div class="item item-avatar newsArticle" style="height:auto;">
        <img src="{{contributor.profilePic}}">
        <h2>{{newsArticle.title}}</h2>
        <h3><a href='#/app/contributors/{{contributor.id}}'> by {{contributor.name}}</a></h3>
        <p>{{newsArticle.date | date : 'dd-M-yy'}}</p>
      </div>

      <div class="item item-body" ng-click= "OpenPDF(newsArticle.pdf)" style="height: 100%; max-width:100%;">
        <img class="image" src="{{newsArticle.image}}">
        <p>
          {{newsArticle.descshort}}
        </p>
       </div>

      <div class="item tabs tabs-secondary tabs-icon-left newsArticle">
        <div class="tab-item" ng-click="AddFavorite(newsArticle.id)" style="width:100%; padding-right:25%;">
            <button id="article_{{newsArticle.id}}" class="button button-positive" style="width:25%; position:absolute;">
              <i class="icon ion-heart"></i>
               Favorite
               </button>
        </div>
      </div>

  </ion-content>
</ion-view>