<ion-view view-title="Newsfeed">
  <ion-content class="page">
    <div class="list card" ng-repeat="newsArticle in news">
      <div class="item item-avatar newsArticle">
        <img src="{{newsArticle.iconImage}}">
        <h2>{{newsArticle.title}}</h2>
        <h3><a href='#/app/contributors/{{contributors[newsArticle.author - 1].id}}'> by {{contributors[newsArticle.author - 1].name}}</a></h3>
        <p>{{newsArticle.date | date : 'dd-M-yy'}}</p>
      </div>

      <div class="item item-body" ng-click="goToArticle(newsArticle.id)">
        <img class="image" src="{{newsArticle.image}}">
        <p>
          {{newsArticle.descshort}}
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
       </div>

      <div class="item tabs tabs-secondary tabs-icon-left newsArticle">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
         </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>