<ion-view view-title="{{newsArticle.title}}">
  <ion-content class="page">
    <div class="item item-avatar newsArticle">
        <img src="{{newsArticle.iconImage}}">
        <h2>{{newsArticle.title}}</h2>
        <h3><a href='#/app/contributors/{{contributor.id}}'> by {{contributor.name}}</a></h3>
        <p>{{newsArticle.date | date : 'dd-M-yy'}}</p>
      </div>

      <div class="item item-body">
        <img class="image" src="{{newsArticle.image}}">
        <p>
          {{newsArticle.descshort}}
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
       </div>

      <div class="item tabs tabs-secondary tabs-icon-left newsArticle">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
         </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
      <div class="item item-divider">
        <h3>Tags</h3>
      </div>
      <div class="button-bar">
        <a ng-repeat="tag in tags" href="#" class="button button-calm">{{tag.name}}</a>
      </div
  </ion-content>
</ion-view>