<ion-view view-title="{{searchQuery}}">
  <ion-content class="page">
   <div class="list">
   	<a class="item generalScheme" ng-repeat="article in articles" href="#/app/newsfeed/{{article.id}}">
   		<div class="item item-avatar newsArticle">
        <img src="{{contributors[newsArticle.author - 1].profilePic}}">
        <h2>{{newsArticle.title}}</h2>
        <h3><a href='#/app/contributors/{{contributors[newsArticle.author - 1].id}}'> by {{contributors[newsArticle.author - 1].name}}</a></h3>
        <p>{{newsArticle.date | date : 'dd-M-yy'}}</p>
      </div>

      <div class="item item-body" ng-click="goToArticle(newsArticle.id)">
        <img class="image" src="{{newsArticle.image}}">
        <p>
          {{newsArticle.descshort}}
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
       </div>

      <div class="item tabs tabs-secondary tabs-icon-left newsArticle">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
         </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>
   </div>
   <div class="list">
   	<a class="item item-thumbnail-left generalScheme" ng-repeat="contr in contributors" href="#/app/contributors/{{contr.id}}">
   		<img src="{{contr.profilePic}}">
   		<h2 style="color:black;">{{contr.name}}</h2>
   		<p style="color:black;">{{contr.employmentInfo}}</p>
   	</a>
  </ion-content>
</ion-view>
