<div class="list">
    		<div class="item item-divider generalScheme">
    			Current Relationship
    		</div>
    		<label class="item item-radio">
    			<input type="radio" name="group">
    			<div class="item-content">
    				Single
    			</div>
    			<i class="radio-icon ion-checkmark"></i>
    		</label>
    		<label class="item item-radio">
    			<input type="radio" name="group">
    			<div class="item-content">
    				Just talking
    			</div>
    			<i class="radio-icon ion-checkmark"></i>
    		</label>
    		<label class="item item-radio">
    			<input type="radio" name="group">
    			<div class="item-content">
    				Casually dating
    			</div>
    			<i class="radio-icon ion-checkmark"></i>
    		</label>
    		<label class="item item-radio">
    			<input type="radio" name="group">
    			<div class="item-content">
    				Seriously dating
    			</div>
    			<i class="radio-icon ion-checkmark"></i>
    		</label>
    		<label class="item item-radio">
    			<input type="radio" name="group">
    			<div class="item-content">
    				Committed
    			</div>
    			<i class="radio-icon ion-checkmark"></i>
    		</label>
    		<label class="item item-radio">
    			<input type="radio" name="group">
    			<div class="item-content">
    				Engaged
    			</div>
    			<i class="radio-icon ion-checkmark"></i>
    		</label>
    		<label class="item item-radio">
    			<input type="radio" name="group">
    			<div class="item-content">
    				Married
    			</div>
    			<i class="radio-icon ion-checkmark"></i>
    		</label>
    </div>
    <div class="list">
    	<div class="item item-divider generalScheme">
    		Length of current status
    	</div>
    	<label class="item item-input">
    		<input type="number" name="length">
    		<div class="item-content">
    			Years
    		</div>
    	</label>
    </div>

    <div class="list">
    	<div class="item item-divider generalScheme">
    		Number of past relationships
    	</div>
    	<label class="item item-input">
    		<input type="number" name="numRelate">
    		<div class="item-content">
    			Relationships
    		</div>
    	</label>
    </div>