/* Empty. Add your own CSS if you like */

body{
	font-family: Century Gothic, sans-serif;
}
.page{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#05abe0+0,53cbf1+28,f2fafc+100 */
background: #05abe0; /* Old browsers */
background: -moz-linear-gradient(top,  #05abe0 0%, #53cbf1 28%, #f2fafc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #05abe0 0%,#53cbf1 28%,#f2fafc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #05abe0 0%,#53cbf1 28%,#f2fafc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#f2fafc',GradientType=0 ); /* IE6-9 */

}
.journal{
	border:1px solid #464646;
	margin-right:2%;
	resize:none;
	overflow: auto;
}
.journal-title{
	border:1px solid #464646;
	margin-right:2%;
}
.headerContent{
	text-align:center;
	background-color: #8dcce3;
}

.bodyContent{
	text-align:center;
	background-repeat:no-repeat;
	background-position:center;
	background-color: #8dcce3;
}
.contact{
	text-align:right;
}
.item-input{
	padding-top:10px;
	padding-bottom:10px;
}

select{
	background-color:gray;
}

.contactinfo{
	float:left;
}

.submit{
	right:auto;
}

.myDataEntry{
	background-color: #8dcce3;
	margin: 5%;
	padding-right:10%;

}

.newsArticle{
	background-color: #8dcce3;
}
.textEntry{
	padding-left:1;
	float:right;
}

.generalScheme{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0eff9+0,b5c6d0+30,d8e1e7+69,f2f6f8+100 */
background: rgb(224,239,249); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(224,239,249,1) 0%, rgba(181,198,208,1) 30%, rgba(216,225,231,1) 69%, rgba(242,246,248,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(224,239,249,1) 0%,rgba(181,198,208,1) 30%,rgba(216,225,231,1) 69%,rgba(242,246,248,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(224,239,249,1) 0%,rgba(181,198,208,1) 30%,rgba(216,225,231,1) 69%,rgba(242,246,248,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0eff9', endColorstr='#f2f6f8',GradientType=0 ); /* IE6-9 */

	height:auto;
	text-align:center;
}

.loginContent{
	margin-left:auto;
	margin-right:auto;
	width:33%;
}

.listData{
	margin-right:0 0 1em;
padding: 0;
list-style: none outside;
clear: both;
}

.listItemData{
float: left;
margin: 0 3.8% 2.992em 0;
padding-bottom: 0;
position: relative;
width: 20.05%;
margin-left: 0;
}

.sliderItemRange{
	-webkit-column-count:5;
	-moz-column-count:5;
	column-count:5;
	-webkit-column-gap:100px;
	-moz-column-gap:100px;
	column-gap:100px;
}
.sliderItem{
	-webkit-column-span:1;
	-webkit-column-span:1;
	column-span:1;
}

.socialMediaButton{
	-webkit-column-span:4;
	-webkit-column-span:4;
	column-span:4;
	padding:5% 0px 5% 0px;
}
.socialMedia{
	-webkit-column-count:4;
	-moz-column-count:4;
	column-count:4;
	-webkit-column-gap:50px;
	-moz-column-gap:50px;
	column-gap:50px;
	width:100%;
}

.form-input{
	width:80%;
	padding-left:15%;
	left:auto;
}

.item-content{
	text-align:center;
}

.card-view{
	width:90%;
	margin-left: 5%;
}

.profilePic-big{
	width: 25%;
	height: 25%;
}

.under-construction{
	width: 50%;
	height: 50%;
}

mydata-text-entry{
	background-color:#f2f2f2;
}