/* Empty. Add your own CSS if you like */

body{
	font-family: Century Gothic, sans-serif;
}
.page{
	background-color:#464646;
}
.journal{
	border:1px solid #3366FF;
	border-left: 4px solid #3366FF;
	margin-right: 5%;
}
.headerContent{
	text-align:center;
	background-color: #8dcce3;
}

.bodyContent{
	text-align:center;
	background-repeat:no-repeat;
	background-position:center;
	background-color: #8dcce3;
}
.contact{
	text-align:right;
}
.item-input{
	padding-top:10px;
	padding-bottom:10px;
}

select{
	background-color:gray;
}

.contactinfo{
	float:left;
}

.submit{
	right:auto;
}

.myDataEntry{
	background-color: #8dcce3;
	margin: 5%;
	padding-right:10%;

}

.newsArticle{
	background-color: #8dcce3;
}
.textEntry{
	padding-left:1;
	float:right;
}

.generalScheme{
	background-color: #8dcce3;
	height:auto;
	text-align:center;
}

.loginContent{
	margin-left:auto;
	margin-right:auto;
	width:33%;
}

.listData{
	margin-right:0 0 1em;
padding: 0;
list-style: none outside;
clear: both;
}

.listItemData{
float: left;
margin: 0 3.8% 2.992em 0;
padding-bottom: 0;
position: relative;
width: 20.05%;
margin-left: 0;
}

.sliderItemRange{
	-webkit-column-count:5;
	-moz-column-count:5;
	column-count:5;
	-webkit-column-gap:100px;
	-moz-column-gap:100px;
	column-gap:100px;
}
.sliderItem{
	-webkit-column-span:1;
	-webkit-column-span:1;
	column-span:1;
}

.socialMediaButton{
	-webkit-column-span:4;
	-webkit-column-span:4;
	column-span:4;
	padding:5% 0px 5% 0px;
}
.socialMedia{
	-webkit-column-count:4;
	-moz-column-count:4;
	column-count:4;
	-webkit-column-gap:50px;
	-moz-column-gap:50px;
	column-gap:50px;
	width:100%;
}

.form-input{
	width:80%;
	padding-left:15%;
	left:auto;
}

.item-content{
	text-align:center;
}

.card-view{
	width:85%;
	margin-left: 7%;
}